/* Style the body */
body {
    padding: 20px;
    text-align: front;
    font-family: Arial;
    font-size: 20px;
    background: olive;
    color: white;
    margin: 0;

  }
  
 
  /* Header/Logo Title */
header {
  padding: 5px;
  text-align: front;
  background: white;
  color: bisque;
  font-size: 20px;
}



footer {
  padding: 5px;
  text-align: center;
  background: white;
  color: bisque;
  font-size: 20px;
}
  /* Page Content */
  